{% if action is defined %}
    <ul class="breadcrumb">
        {% for label, uri in admin.breadcrumbs(action) %}
            {% if loop.last %}
                <li class="active">{{label|trans}}</li>
            {% else %}
                <li>
                    <a href="{{ uri }}">{{label|trans}}</a> <span class="divider">/</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}