<h3><a href="#">Project Name</a></h3>
                    
{{ knp_menu_render('admin', {'currentClass': 'active', 'ancestorClass': 'active'}) }}

<ul class="nav secondary-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">Dropdown</a>
        <ul class="dropdown-menu">
            <li><a href="#">Secondary link</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Another link</a></li>
        </ul>
    </li>
</ul>