body {
    margin-top: 50px;
}

.well label {
    float: none;
}

.alert-message .alert-actions form {
    display: inline;
}

.alert-message .alert-actions form input {
    font-weight: bold;
}

.modal form {
    margin: 0;
}

#dashboard table.dashboard-item {
    width: 48%;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

#dashboard table.dashboard-item thead th {
    cursor: pointer;
}


.form-filter input[type="text"], .form-filter select {
    width: 180px;
}

label[class*="span"]{
    padding-top: 6px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 130px;
    text-align: right;
    color: #404040;
    margin-left: 0;
    display: block;
}