body {
    margin-top: 50px;
}

.well label {
    float: none;
}


.alert-message .alert-actions form {
    display: inline;
}

.alert-message .alert-actions form input {
    font-weight: bold;
}

.modal form {
    margin: 0;
}