{% extends base_template %}

{% block title %}{% trans from 'SonataAdminBundle' %}title_batch_confirmation{% endtrans %}{% endblock %}

{% block h1 %}{% trans from 'SonataAdminBundle' %}title_batch_confirmation{% endtrans %}{% endblock %}

{% block body %}

    <div class="alert-message block-message warning">
        <p><strong>{% trans from 'SonataAdminBundle' %}title_batch_confirmation{% endtrans %}</p>
        <p>{% trans from 'SonataAdminBundle' %}message_batch_confirmation{% endtrans %}</p>
        <div class="alert-actions">
            <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
                <input type="hidden" name="confirmation" value="ok" />
                <input type="hidden" name="data" value="{{ data }}" />

                <div style="display: none">
                    {{ form_rest(form) }}
                </div>
                
                <input type="submit" value="{% trans from 'SonataAdminBundle' %}btn_execute_batch_action{% endtrans %}" class="btn danger small"/>
            </form>
            {% if admin.hasRoute('list') and admin.isGranted('LIST')%}
                <a href="{{ admin.generateUrl('list') }}" class="btn small">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
