{% block field_row %}
{% spaceless %}
    <div class="clearfix {% if errors|length > 0 %}errors{% endif %}">
        {% set help = attr.help|default(null) %}
        {{ form_label(form, label|default(null)) }}
        <div class="input">
            {{ form_widget(form.type, {'attr': attr|default(null)}) }}
            {{ form_widget(form.value, {'attr': attr|default(null)}) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}