{% block field_row %}
{% spaceless %}
    <div class="clearfix {% if errors|length > 0 %}errors{% endif %}">
        {% set help = attr.help|default(null) %}
        {{ form_label(form, label|default(null)) }}
        <div class="input">
            {{ form_widget(form, {'attr': attr|default(null)}) }}
            {{ form_errors(form) }}
            {% if help|default(null) %}
                <span class="help-block">{{help|trans|raw}}</span>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}